services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_API_VERSION=1.52
    command: --label-enable --include-restarting --cleanup --interval 3600
    networks:
      - warrior-network

  warrior:
    image: atdr.meo.ws/archiveteam/warrior-dockerfile
    container_name: archiveteam-warrior
    restart: on-failure
    ports:
      - "8001:8001"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    volumes:
      - warrior-data:/home/warrior/projects
    networks:
      - warrior-network
    env_file:
      - .env

volumes:
  warrior-data:

networks:
  warrior-network:
    driver: bridge
